img {
    max-width: 1200px;
    max-height: 800px;
}

body {
    color:white;
    background-color: transparent;
}

h1{
    color:white;
    padding: 200px;
    font-size:60px;
    
}

.center-bottom{
    position: absolute;
    top:50%;
    left:50%
    
}

.hero {
    position: relative;
    height: 550px;
    padding: 20px;
    margin: 0;
    background: black;
    background-image: url("https://media.npr.org/assets/img/2021/06/25/ap21154653162696-c015233e9fc05e6adf5e303af924a9536a2f379f.jpg");
    background-attachment: fixed;
    background-size: cover;}

    .btn{
        background-color: rgba(154, 171, 209, 0.322);
        width: 100%; 
      }